// _mixins.scss
@mixin button($color) {
    background-color: $color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  @mixin heading($size, $color, $heading) {
    font-family: $heading;
    font-size: $size;
    color: $color;
    padding: 10px;
  }

  @mixin title($size, $color, $title) {
    font-family: $title;
    font-size: $size;
    color: $color;
    padding: 0px 18px;  
  }

 @mixin paragraph($size, $color, $primary-font){
  font-family: $primary-font;
  font-size: $size;
  margin: 10px 20px;  
 } 
