@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/mixins";
@use "./partials/typography";



h1 {

 @include mixins.heading(36px, #2d3e50, 'Marck Script');

 

}

h2 {

  @include mixins.title(36px, #DB8D33, 'Marck Script');

}

h3 {
    color: colors.$secondary-font-color;
    font-family: typography.$heading;

    @include mixins.title(36px, #2d3e50, 'Montserrat');

}


nav {
  background-color: #414141;

    ul {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li { 
      display: inline-block; 
      }
    a {
      @include mixins.links(#DB8D33);
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      &:hover {
        background-color: colors.$primary-font-color
      }
      
    }
  }
  
  div {

    figure {

       img {

        margin-top:-9px;
        padding: 0px 172px 4px;

      }

    }
  }
 
  p {

    @include mixins.paragraph(20px, black, 'Dosis');

    a {
      
      color: colors.$primary-font-color;
      &:hover {
        background-color: colors.$darker-background;
      }
      
    }
  
  }

 footer {
 
  p{
    background-color: colors.$darker-background;

    @include mixins.title(20px, #ffffff, 'Montserrat');
  }

 }