@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/mixins";
@use "./partials/typography";



h1 {
 color: colors.$primary-font-color;

 @include mixins.heading(36px, #2d3e50, 'Marck Script');

 

}

h2 {

  @include mixins.title(36px, #2d3e50, 'Montserrat');
}

h3 {
    color: colors.$secondary-font-color;
    font-family: typography.$heading;
    padding: 5px 10px;

}

p {

  font-family: typography.$primary-font;

}

.button {
    @include mixins.button(rgb(143, 143, 189));
}


nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li { 
      display: inline-block; 
      }
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: colors.$primary-font-color;
      &:hover {
        background-color: colors.$darker-background;
      }
      
    }
  }
  


  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }